# Ignore Python cache and venv
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Ignore test cache
.pytest_cache/
.vscode/
.v/

# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# VSCode settings
.vscode/

# Environment files
.env

src/data/*.xlsb
src/data/*.xlsx
src/data/WIOT2014_Nov16_ROW_sans_cons.csv
