# Ignore Python cache and venv
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Ignore test cache
.pytest_cache/
.vscode/
.v/

# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# VSCode settings
.vscode/

# Environment files
.env

